.feature {
  display: flex;
  width: 360px;
  height: 150px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .feature {
    width: 95%;
  }
}

.featureDiv {
  display: flex; 
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  gap: 1.5rem;
}

.featureSvg {
  height: 100px;
  width: 100px;
}
